# requirements.txt

# Web Framework and ASGI Server
fastapi~=0.111.0
uvicorn[standard]~=0.30.1 # ASGI server for FastAPI

# Database Integration
sqlalchemy~=2.0.30
asyncpg~=0.29.0 # PostgreSQL driver for SQLAlchemy async (Magnum uses this)
geoalchemy2~=0.14.3 # For PostGIS functions like ST_Distance

# Pydantic for data validation and settings management
pydantic~=2.7.1
pydantic-settings~=2.3.0 # For managing environment variables (.env files)

# HTTP Client for Geocoding Service (e.g., Google Maps API)
httpx~=0.27.0

# Kafka Client
aiokafka~=0.8.1 # Asynchronous Kafka client